################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EfCoreUtils
/EfCoreUtils.Functional.Tests/bin
/EfCoreUtils/obj
/EfCoreUtils/bin
/EfCoreUtils.Functional.Tests/obj
/EfCoreUtils.Functional.Tests/Properties/PublishProfiles/FolderProfile.pubxml
*.user
